@font-face {
  font-family: "Funnel Display";
  src: url("fonts/FunnelDisplay-Medium.ttf") format("truetype");

  font-family: "Sedan";
  src: url("fonts/Sedan-Regular.ttf") format("truetype");
}

body {
  font-family: "Sedan";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(222, 8%, 57%, 1) 64%,
    hsla(226, 11%, 23%, 1) 67%,
    hsla(231, 12%, 77%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(222, 8%, 57%, 1) 64%,
    hsla(226, 11%, 23%, 1) 67%,
    hsla(231, 12%, 77%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(222, 8%, 57%, 1) 64%,
    hsla(226, 11%, 23%, 1) 67%,
    hsla(231, 12%, 77%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#898E9A", GradientType=1 );
}

div {
  display: block;
  unicode-bidi: isolate;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 9px 25px;
  background-color: hsla(222, 8%, 57%, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button-text:hover {
  background-color: hsla(222, 11%, 53%, 1);
}

header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  height: 130px;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  font-size: 28px;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #fbfbfb;
}
.privacy_policy-text {
  padding: 20px;
  width: 700px;
  border-style: solid;
  color: #fff;
  float: left;
  height: 73vh;
}
.privacy_policy-text h1 {
  text-align: center;
}
.about_us-text {
  color: #fff;
  border-style: solid;
  padding: 20px;
  height: 73vh;
}
.about_us-text h1 {
  text-align: center;
}
